li a {

	color:blue;
}

body {
	background: white url("images/profilepic.jpg") no-repeat left bottom;
}

button {
    background-color: #4CAF50; /* Green */
    border: 2px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    
}